<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel Cost Analyzer</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>



<body tabindex="-1">  

    <div class="container mx-auto">
      
      <div class="hero bg-base-200 rounded-lg p-6 mb-6">
        <div class="hero-content text-center">
          <div class="max-w-md mx-auto">
            <h1 class="text-5xl font-bold">Welcome</h1>
            <p class="py-6">Find out if you driving is cost-effective.</p>
            <a href="/search.html" class="btn btn-primary">Get Started Now</a>
          </div>
        </div>
    </div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

<div class="card bg-base-100 shadow-xl rounded-lg overflow-hidden">
      <figure class="px-10 pt-10">
      <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="car"
        class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <h2 class="card-title">Fuel Cost Analyzer</h2>
      <p>Is your driving cost-effective?</p>
      <div class="card-actions">
        <a href="/search.html" class="btn btn-primary">Calculate Now</a>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl rounded-lg overflow-hidden">
    <figure>
      <img id="third" class="w-full" src="/img/gowr.png" alt="about" />
    </figure>
    <div class="card-body p-4 flex flex-col justify-between">
      <h2 class="card-title text-lg font-semibold mb-2">About</h2>
      <div class="card-actions mt-auto flex justify-end">
        <a href="/search.html" class="btn btn-sm bg-red-600 hover:bg-red-700 text-white">Details</a>
      </div>
    </div>
  </div>

  <div class="card bg-base-100 shadow-xl">
    <figure>
      <img id ="third" class="w-full" src="/img/wukong.jpg" alt="Lego set" />
    </figure>
    <div class="card-body">
      <h2 class="card-title">Batman</h2>
      <p>In LEGO® Batman™ : The Videogame, play as Batman and his sidekick Robin as you build, drive, swing and fight your way through Gotham City.</p>
      <div class="card-actions justify-end">
        <a href="/search.html" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
</div>
  </body>
  
  </html>